<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Weather map</title>
  
  
  
      <link rel="stylesheet" href="static/css/style.css">

  
</head>

<body>

  <script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldHigh.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<label>Aluminas Map</label>
<div id="chartdiv"></div>
  
  

    <script  src="static/js/index.js"></script>




</body>

</html>
